*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    font-size: 62.5%; /*equivale a 10px*/
    text-align: center;
}

h1
{
    font-size: 36px;
}
.k
{
    font-size: 25px;

}
.D
{

    width: 50%;

}

body{
    /*background-image: url(../img/imagen_fondo_familia.jpg);*/
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#main-nav
{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav li
{
    display: inline-block;
}
#main-nav a
{
    color: white;
    background-color: #13a4a4;
    padding: 10px;   
    border-radius: px;
    text-decoration: none;
    font-size: 40px;
}
#main-nav .padres
{
    background-color: red;
}
.atras
{
    text-align: left;
}   
