*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1
{
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}
#page-title
{
    font-family: Arial, Helvetica, sans-serif;
}
.title
{
    font-size: 18px;
    font-family: monospace;
}
#main-nav
{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav li
{
    display: inline-block;
}
#main-nav a
{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
#main-nav .padres
{
    background-color: red;
}
body
{
    background-color: rgb(255, 253, 253);
}




.title
{
    color: rgb(0, 0, 0); 
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
  }

body{
    background-image: url(../img/codm_2022-12-26_12_03_50.jpg);
}